@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Francois Bank is a small financial institution dedicated to bring you the finest in banking services.You can rest easy Knowing that your  money is in good hands with people that care about the well being and security of the customers financial future.</p>
<p> NOTE WE ARE NOT A REAL BANK!!!!! PLEASE DO NOT TRUST US WITH YOUR MONEY!!!!</p>