
@{
    ViewBag.Title = "HomeScreen";
}

<h2>Welcome to Francois Bank Online</h2>
<p><a>Please Login or Register to enjoy the full online experiance.</a></p>
<p>
    <img src="~/Content/AutomatedAccount pictures/42-59151255.jpg" />
</p>